<div id="customer">
    <h2><%= customer.full_name %></h2>
    <%= image_tag customer.image %>
    <b>Phone: </b><%= customer.phone_number %>
    <b>Email: </b><%= customer.email_address %>
    <b>Notes: </b><%= customer.notes %>
</div>
