<h1>All Customers</h1>

<%= link_to 'New Customer', new_customer_path %> - <%= link_to 'Missing Emails', missing_email_path %>

<% @customers.each do |c| %>
    <div id="customer">
        <h2><%= c.full_name %></h2>
        <%= image_tag c.image %>
        <b>Phone: </b><%= c.phone_number %>
        <b>Email: </b><%= c.email_address %>
        <b>Notes: </b><%= c.notes %>
    </div>
<% end %>